
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login" asp-controller="Accounts" method="post">
    <input name="username" placeholder="username" />
    <input name="password" placeholder="password" />
    <input type="submit" value="Signup" />
</form>